<nav class="navbar__container">
  
  <section class="navbar__logo-container">
    <img src="assets/img/logo-spotify.png" alt="Web Logo" class="navbar__logo-img">
  </section>
  
  <ul class="navbar__menu-list">
    <li class="navbar__menu-item" routerLinkActive="navbar__menu-item--active-link">
      <a [routerLink]="['/home']" class="navbar__menu-link">Home</a>
    </li>
    <li class="navbar__menu-item" routerLinkActive="navbar__menu-item--active-link">
      <a [routerLink]="['/search']" class="navbar__menu-link">Search</a>
    </li>
  </ul>

</nav>