.navbar__container {
  display: flex;
  padding: 4px;
  background-color: #535353;
}

.navbar__logo-container {
  display: flex;
  align-items: center;
}

.navbar__logo-img {
  width: 100px;
  margin: 0px;
  padding: 0px;
}

.navbar__menu-list {
  align-items: center;
  display: flex;
  flex: 1;
  list-style-type: none;
  margin: 0px;
  padding: 0px 40px;
}

.navbar__menu-item {
  margin: 8px 16px;
  font-size: 1.25em;
  cursor: pointer;
}

.navbar__menu-link {
  color: white;
  text-decoration: none;
}

.navbar__menu-item:hover .navbar__menu-link,
.navbar__menu-item--active-link .navbar__menu-link {
  font-weight: bold;
}
